.chess-piece {
  background-image: url("/src/assets/chess-pieces-sprite.png");
  background-size: 640px 213px;
  width: 106.67px;
  height: 106.67px;
}

.kw {
  background-position: 0 0;
}

.qw {
  background-position: -106.67px 0;
}

.bw {
  background-position: -213.33px 0;
}

.nw {
  background-position: -320px 0;
}

.rw {
  background-position: -426.67px 0;
}

.pw {
  background-position: -533.33px 0;
}

.kb {
  background-position: 0 -213px;
}

.qb {
  background-position: -106.67px -213px;
}

.bb {
  background-position: -213.33px -213px;
}

.nb {
  background-position: -320px -213px;
}

.rb {
  background-position: -426.67px -213px;
}

.pb {
  background-position: -533.33px -213px;
}

.empty {
  background-image: none;
}

.dark {
  background-color: #964b00;
}

.light {
  background-color: #f5deb3;
}

.selected {
  filter: brightness(1.2) contrast(1.2) saturate(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}

.selected-dark {
  filter: brightness(0.8) contrast(1.2) saturate(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}

.selected-light {
  filter: brightness(1.2) contrast(1.2) saturate(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}
